body,html{
	margin:0;
    font-family: monospace;
    font-size : 15px;
}

.app-bar{
	position: relative;
    width: calc(100% - 21px);
    height: 40px;
    padding: 10px;
    background: #0878ff;
    color: #fff;
    font-size: 22px;  

}


.app-footer{
	position: relative;
    height: 40px;
    width: calc(100% - 21px);
    background-color: #0878ff;
    padding: 10px;  
    color:#fff;
    text-align: center;  
}

.main-container{
	height : calc(100vh - 120px);
	display:flex;
	align-items: center;
	justify-content: center;
}

